<%= form_with(model: [:admin, book], local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author_ids, 'Author(s)' %>
    <%= form.select :author_ids, @author_options, {}, { multiple: true, size: 10 } %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :date_published %>
    <%= form.date_select :date_published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
