<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@book.price) %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @book.date_published %>
</p>

<p>
  <strong>Author(s):</strong>
  <%= @book.author_names %>
</p>

<%= link_to 'Edit', edit_admin_book_path(@book) %> |
<%= link_to 'Back', admin_books_path %>
