<!DOCTYPE html>
<html>
  <head>
    <title>Mississippi.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Mississippi.com</h1>
    <ul>
      <li><%= link_to 'Orders', orders_path %></li>
      <li><%= link_to 'Books', admin_books_path %></li>
      <li><%= link_to 'Authors', authors_path %></li>
      <li><%= link_to 'Customers', customers_path %></li>

			<% if user_signed_in? %>
				<li>
				<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
				</li>
			<% else %>
				<li>
				<%= link_to 'Sign in', new_user_session_path %>
				</li>
			<% end %>
    </ul>

		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert alert-info" %>
		<% end %>

    <%= yield %>
  </body>
</html>
